{% extends 'base.html' %}

{% block content %}
<div class="container-fluid bg-dark text-light justify-content-start mt-0 mx-0">
    <div class="row g-2 pb-0">
        <div class="col-lg-4 col-md-4 col-sm-12 pt-5 mx-5 my-5">
            <h1>
                "I have drunk since I was 15, and few things have given me more pleasure. 
                When you work hard all day with your head and you must work again the next day, 
                what else can change your ideas and 
                make them run on a different plane like whiskey?" - Hemingway
            </h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 p-5 mx-2">
            <img src="../../static/Images/hemingway.jpeg" alt="" class="img-fluid border border-width-3">
        </div>
    </div>
</div>
</section>
{% endblock %}